
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<h3>手机号码：@ViewBag.telephone</h3>
<h3>创建密码：@ViewBag.psd</h3>
<h3>注册邮箱：@ViewBag.email</h3>
<h3>验证码：@ViewBag.yzm</h3>
<h3>性别：@ViewBag.sex</h3>
<h3>生日：@ViewBag.birthday</h3>
<h3>年龄：@ViewBag.age</h3>
<h3>籍贯：@ViewBag.province @ViewBag.city</h3>
<h3>个人学历：@ViewBag.grxl</h3>
<h3>成绩：@ViewBag.score</h3>
<h3>个人爱好：@ViewBag.like</h3>
<h3>个人照片：@ViewBag.myfile</h3>
<h3>个人简介：@ViewBag.intro</h3>
